h1 {
  font-size: 60px;
}

h2 {
  top: 85px;
  font-size: 12px;
}

h3 {
  line-height: 20px;
  margin-top: 144px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li {
  display: inline-block;
  padding-right: 47px;
}

strong {
  font-size: 25px;
  font-weight: 700;
  line-height: 73px;
}

button {
  border: 1px solid #fdc57b;
  border-radius: 7px;
  box-shadow: 0px 0px 7px #e3e3e3;
  background: #fdc57b;
  color: #af5e0b;
  font-size: 14px;
  font-weight: 400;
  width: 130px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr.border-right {
  height: 488px;
  width: 2px;
  border-width: 0;
  background-color: rgb(161, 157, 157);
  position: relative;
  bottom: 382px;
  left: 158px;
}

hr.horizontal-side-bar {
  margin: 0 auto;
}

div.card.side-bar {
  height: 395px;
  width: 217px;
  margin-left: 27px;
  box-shadow: 0px 0px 7px rgb(222, 220, 220);
}

div.card.bottom-bar {
  height: 100px;
  width: 447px;
  box-shadow: 0px 0px 7px rgb(222, 220, 220);
}

div.card-body.bottom-bar {
  padding: 15px;
}

div.future-temperature-degrees-top {
  margin-top: 5px;
  height: 62px;
}

div.future-temperature-degrees {
  margin-top: 15px;
  height: 62px;
}

.container {
  border: solid rgb(161, 157, 157);
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto;
  max-height: 490px;
  max-width: 755px;
  min-height: 490px;
  min-width: 755px;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.box-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 4;
}

.box-2 {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 5;
}

.box-3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
}

.current-icon {
  font-size: 55px;
  margin-left: 10px;
}

.city {
  font-size: 40px;
}

.date {
  font-size: 10px;
}

.search {
  border: 1px solid rgb(222, 220, 220);
  border-radius: 7px;
  box-shadow: 0px 0px 7px rgb(222, 220, 220);
  width: 218px;
  padding: 2px 8px;
  margin-left: 27px;
  margin-bottom: 23px;
  font-size: 13px;
}

.day {
  font-size: 14px;
}

.future-icon {
  font-size: 40px;
  position: relative;
  left: 135px;
  bottom: 42px;
}

.weather-details {
  font-size: 12px;
}

.unit {
  font-size: 16px;
  font-weight: 400;
}

.uv-index {
  padding-right: 0;
}
